<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>226795182379-0vc5joofiinjq2lr26ut1qisj4ce3v0m.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.226795182379-0vc5joofiinjq2lr26ut1qisj4ce3v0m</string>
	<key>API_KEY</key>
	<string>AIzaSyBiQRB6aVmANwwpHNAGMBBt--lYGBEtwOQ</string>
	<key>GCM_SENDER_ID</key>
	<string>226795182379</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>host.exp.exponent</string>
	<key>PROJECT_ID</key>
	<string>oymodates-38e12</string>
	<key>STORAGE_BUCKET</key>
	<string>oymodates-38e12.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:226795182379:ios:7d64c3626ac73071024d6e</string>
</dict>
</plist>