<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <h1>Please wait...</h1>
  <form name="f1" action="/paypalPlusOneMonth" id="paypalPlusOneMonth">
    <input type="text" name="price" id="price" style="display: none;">
  </form>
  <form name="f6" action="/paypalPlusSixMonths" id="paypalPlusSixMonths">
    <input type="text" name="price" id="price" style="display: none;">
  </form>
  <form name="f12" action="/paypalPlusTwelveMonths" id="paypalPlusTwelveMonths">
    <input type="text" name="price" id="price" style="display: none;">
  </form>
</body>

</html>